$primary-color: #48D189;
$color-black: #333333;
$color-text: #30324B;
$color-white: #FFFFFF;
$color-bitcoin: #F7931A;
$color-ethereum:  #505050;
$color-tether:  #00A478;
$color-sidebar: #909198;



$color-success: #188F32;
$color-pending: #CC9600;
$color-failed:#CC4945;


$bg-color-success:#DEFFE5;
$bg-color-pending: #FFFADE;
$bg-color-failed: #FFF3F3;

$bg-color-sidebar: #002422;

$bg-color: #F8F8F8;


$font-family:'Mulish', sans-serif;