.cryptodetails {
  &_name {
    margin-top: 4rem;
    @include flex(row, initial, center);
  }

  p {
    font-weight: 700 !important;
  }

  &_btns {
    margin-top: 3rem;
    width: 400px;
    max-width: 100%;
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    button {
      @include flex(row, center, center);
      span{
        margin-left: 1rem;
      }
    }

    button:not(:last-of-type) {
      margin-right: 2rem;
    }
    button:last-of-type {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}
