.payment {
  width: 100%;
  &_container {
    @include flex(row, space-between, flex-start);
    margin-bottom: 3rem;

    button {
      width: max-content !important;
      padding: 1rem 1.5rem !important;
      img {
        margin-right: 1rem;
      }
    }
  }

  &_amount {
    @include flex(row, stretch, center);
    div {
      flex-basis: 50%;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  &_created {
    align-self: stretch;
    width: 60%;
    margin: auto;
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 50%;
      margin-right: 2rem;
      svg,img{
          margin-right: 1rem;
      }
    }
  }
}
