.settings {
  width: 100%;

  &_nav {
    width: 100%;
  }

  &_ul {
    padding: 0;
    margin: 0;

    list-style: none;
    @include flex(row, stretch, center);
  }

  &_li {
    margin-right: 3rem;
    a {
      margin-left: 0 !important;
    }
  }


  &_active{
     background-color:$color-black;
     color: $color-white;
     border-radius: 100px;
     padding: .5rem
  }

  &_pages{
      margin-top: 4rem
  }
}
