.button {
  padding: 1rem 0;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  font-family: $font-family;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  
  &_white {
    background-color: $color-white;
    @include border($primary-color);
  color: $primary-color
  }

  
  &_primary {
    color: $color-white;
    background-color: $primary-color;
  }
}
