.crypto {
  @include flex(row, space-between, stretch);

  &_item {
    @include border(#e5e9f2);
    background-color: $color-white;
    padding: 1.5rem 8rem 1.5rem 1rem;
    @include flex(row, center, center);
  }

  &_img {
    width: 42px;
    height: 42px;
    @include flex(row, center, center);
    border-radius: 50%;
    margin-right: 2rem;
    &-1 {
      background-color: rgba($color-bitcoin, 0.2);
    }
    &-2 {
      background-color: rgba($color-ethereum, 0.2);
    }
    &-3 {
      background-color: rgba($color-tether, 0.2);
    }
  }
  &_content{
      display: flex;
      flex-direction: column;

      p:first-of-type{
          margin-bottom: .5rem;
          font-size: 14px !important;
          font-weight: 800
      }
  }
}
