.empty {
  background-color: $color-white;
  @include flex(column, center, center);

  @include border(#e5e9f2);
  border-radius: 5px;
  padding: 8rem 0;
  p {
    width: 500px;
    max-width: 90%;
    text-align: center;
  }
}
