.auth {
  &_form {
    margin-top: 3rem;
    @include card;
    padding-bottom: 1rem;
    &-container {
      padding: 2rem;
      @media (max-width: 600px){
        padding: 0;
      }
    }
  }


  &_footer{
    display: flex;justify-content: center;
  }
}
