.auth {
  width: 100%;
  min-height: 100vh;

  &_container {
    @include flex(column, space-between, initial);
    min-height: 100vh;
    height: 100%;
    position: relative;
  }

  &_bgcolor {
    flex-basis: 400px;
    background-color: #fafafa;

    @include respond(tab-port){
      background-color: transparent;
    }
  }
  &_ext {
    flex-grow: 2;
    background-color: $color-white;
  }

  &_content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 700px;
    max-width: 90%;
    margin: auto;
    @include flex(column, initial, initial);

    padding: 4rem 0;
  }

  &_img {
    align-self: center;
  }

  &_form {
    margin-top: 3rem;
    @include card;
    padding-bottom: 1rem;
    &-container {
      padding: 2rem;
    }
  }
}
