.header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: calc(100vw - 350px);
  background-color: $color-white;
  border-bottom: 3px solid #f8f8f8;

  @include respond(tab-land) {
    width: calc(100vw - 250px);
  }

  @include respond(tab-port) {
    // position: relative;
    width: 100%;
    box-shadow: 0px 1px 10px rgba(120, 118, 118, 0.15);
    z-index: 10;
  }

  &_container {
    padding: 1rem 2rem;
  }

  &_desktop {
    @include flex(row, flex-end, center);
    & * {
      margin-right: 32px;
    }
    @include respond(tab-port) {
      display: none;
    }
  }

  &_mobile {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include respond(tab-port) {
      display: flex;
    }
  }

  &_name {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #444854;
    @include flex(row, center, center);
    color: #ffffff;
    font-size: 1rem;
    font-family: $font-family;
    margin-right: 20px;

    &_container {
      display: flex;
      align-items: center;
    }
  }
}
/*media query mobile*/
// @media only screen and (max-width: 800px) {
//   .header_mobile {
//     display: flex;

//     padding: 20px;
//   }
//   .header_mobile-container,
//   .header_name_container {
//     display: flex;
//     flex-direction: row;
//     gap: 10px;
//   }
//   .header_mobile-bars,
//   .header_logo,
//   .header_name,
//   .header_mobile_arrow {
//     padding: 10px;
//   }
// }

// @media only screen and (max-width: 700px) {
//   .header {
//     width:100%;
//   }
//   .header_desktop {
//     display:none;
//   }

// }

// @media only screen and (max-width: 600px) {
//   .header {
//     width: 100%;
//   }
//   .header_desktop {
//     display: none;
//   }
//   .header_mobile {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     padding: 20px;
//   }
//   .header_mobile-container,
//   .header_name_container {
//     display: flex;
//     flex-direction: row;
//   }
//   .header_mobile-bars,
//   .header_logo,
//   .header_name,
//   .header_mobile_arrow {
//     padding: 10px;
//   }

//   .header_container {
//     display: none;
//   }

//   .header_mobile {
//     display: flex;
//   }
// }

// @media only screen and (max-width: 360px) {
//   .header {
//     width: 100%;
//   }
//   .header_desktop {
//     display: none;
//   }
//   .header_mobile {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     padding: 20px;
//   }
//   .header_mobile-container,
//   .header_name_container {
//     display: flex;
//     flex-direction: row;
//   }
//   .header_mobile-bars,
//   .header_logo,
//   .header_name,
//   .header_mobile_arrow {
//     padding: 10px;
//   }
//   .header_container {
//     display: none;
//   }
//   .header_mobile {
//     display: flex;
//   }
//   .header_container {
//     display: none;
//   }
// }
